.div_blocoAutenticacao{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.div_autenticacao1{
    height: 500px;
    justify-content: center;
    align-items: center;
    display: flex;
    width: 1100px;
    border: 1px solid black;
    border-radius: 20px 20px 20px 20px;
}

.div_autenticacao2{
    height: 200px;
    justify-content: center;
    align-items: center;
    display: flex;
    width: 500px;
    border: 1px solid black;
    border-radius: 20px 20px 20px 20px;
}
  
#top {
    position: relative;
    background-color: #036fab;
    color: white;
    padding: 5px;
    margin: 0px 0px 10px 0px;
}

#bottom {
    position: relative;
    background-color: #c2dfef;
    padding: 5px;
    margin: 10px 0px 0px 0px;
}

#left {
    float: left;
    padding: 5px;
    width: 220px;
}

#right {
    float: right;
    background-color: #ece3a5;
    padding: 5px;
    width: 150px;
}

.center_content {
    position: relative;
    background-color: #dddddd;
    padding: 5px;
}

.left_content {
    background-color: #dddddd;
    padding: 5px;
    margin-left: 230px;
}

.right_content {
    background-color: #dddddd;
    padding: 5px;
    margin: 0px 170px 0px 170px;
}

#top a:link, #top a:visited {
  color: white;
  font-weight : bold;
  text-decoration: none;
}

#top a:link:hover, #top a:visited:hover  {
  color: black;
  font-weight : bold;
  text-decoration : underline;
}


